html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
section,
aside,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.video-container {
  z-index: -2;
}
